.info div {
    margin-top: 5%;
}
.allergens{
    margin-left: 4%;
}
.buttom{
    margin-left: 4%;
    margin-top: 2%;
}
.div image{
    margin-top: 20%;
}
.max-height{
    margin-top: 8%;
}
o-combo{
display: inline-block;
}
