.info div {
    margin-top: 5%;
}
.allergens{
    margin-left: 4%;
}
.buttom{
    margin-left: 4%;
    margin-top: 2%;
}
.div image{
    margin-top: 20%;
}
.max-height{
    margin-top: 8%;
}
o-combo{
display: inline-block;
}
.container{
    background-color: #d4d1c4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.footer-container{
    background-color: #6c7b69; 
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
