<div class="container">
  <o-form-container breadcrumb="no"
    breadcrumb-label-columns="ENTITYID;OFFICEID;CDID;ANID"
    breadcrumb-separator="-">
    <o-form #oForm
      attr="wholesaler_detail_form"
      service="wholesaler"
      entity="wholesaler"
      keys="id"
      keys-sql-types="INTEGER"
      columns="id;BALANCE;ENTITYID;OFFICEID;CDID;ANID;WHOLESALERTYP;STARTDATE"
      editable-detail="false"
      show-header="yes"
      header-actions="R"
      [label-header]="formLabel"
      show-header-navigation="yes"
      include-breadcrumb="yes"
      (onDataLoaded)="onFormDataLoaded($event)"
      layout-align="start stretch">

      <div o-form-toolbar-buttons>
        <button type="button"
          class="o-form-toolbar-button"
          mat-stroked-button
          (click)="fillReport($event)"
          attr="fillreport">
          <mat-icon>description</mat-icon>
          <span>{{ 'FILL_REPORT' | oTranslate }}</span>
        </button>
      </div>

      <div fxLayout="column"
        fxLayoutAlign="start stretch"
        class="max-height">

        <div fxLayout="row">
          <o-row title="ACCOUNT_INFO"
            class="account-info-container mat-elevation-z1"
            fxFlex="40"
            layout-align="space-around start">
            <div fxLayout="column"
              class="data-container"
              layout-padding
              fxFlex="50">
              <span class="account-form-label balance">{{ 'BALANCE' | oTranslate }}</span>
              <span class="account-form-value balance"
                [class.red-numbers]="oForm.getDataValue('BALANCE').value < 0">{{
                oForm.getDataValue('BALANCE').value | oReal: { grouping: true, minDecimalDigits: 2, maxDecimalDigits: 2
                } }}
                €</span>
              <div class="balance-border"></div>
              <span class="account-form-label avg-balance">{{ 'AVG_BALANCE' | oTranslate }}</span>
              <span class="account-form-value avg-balance">{{ avgBalance | oReal: { grouping: true, minDecimalDigits: 2,
                maxDecimalDigits: 2 } }}
                €</span>
              <span class="account-form-label">{{ 'STARTDATE' | oTranslate }}</span>
              <span class="account-form-value">{{ oForm.getDataValue('STARTDATE').value | date:'d MMM, y' }}</span>
            </div>

            <div fxLayout="column"
              class="data-container customers"
              layout-padding
              fxFlex="40">
              <span class="account-form-label customers-list-title">{{ 'Account owners' | oTranslate }}</span>
              <o-list #customerList
                service="customers"
                entity="customerAccount"
                keys="CUSTOMERACCOUNTID"
                parent-keys="ACCOUNTID"
                columns="CUSTOMERID;ACCOUNTID;NAME;SURNAME;ISOWNER"
                query-on-init="no"
                query-on-bind="yes"
                controls="no">
                <div class="customers-border">
                  <mat-list-item *ngFor="let customer of customerList.dataArray">
                    <mat-icon mat-list-icon
                      *ngIf="customer.ISOWNER"
                      color="accent">person</mat-icon>
                    <mat-icon mat-list-icon
                      *ngIf="!customer.ISOWNER">person</mat-icon>
                    <span mat-line>{{ customer.NAME }} {{ customer.SURNAME }}</span>
                  </mat-list-item>
                </div>
              </o-list>
            </div>
          </o-row>
          <o-row title="BALANCE"
            class="balance-chart-container mat-elevation-z1"
            fxFlex="60">
            <div class="last-movement-div"
              fxLayout="column"
              fxFlex="20">
              <span class="last-movement">{{last_mov | oReal: { grouping: true, minDecimalDigits: 2, maxDecimalDigits: 2
                }
                }} €</span>
              <span>{{ 'LAST_MOVEMENT' | oTranslate}}</span>
            </div>
            <o-chart type="linePlusBarChart"
              parent-keys="ACCOUNTID"
              x-axis="DATE_"
              y-axis="BALANCE;MOVEMENT"
              x-data-type="time"
              query-on-init="no"
              chart-height="250"
              [data]="lineData"
              [chart-parameters]="balanceChartParams"
              class="balance-chart"
              fxFlex="80"></o-chart>
          </o-row>
        </div>

      </div>
    </o-form>
  </o-form-container>
</div>